nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;

    color: black;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li a {
    float: right;
    display: block;
    padding: 8px;

}
.left{
    float: right;
}
.right{
    float: left;

}