body{
    
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
        margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    
}
nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;

    color: black;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
img{
}

li a {
    float: right;
    display: block;
    padding: 8px;

}
.left{
    float: right;
}
.right{
    float: left;

}
.center{
    display: block;
    margin: 0 auto;

    
}
form{
    display: inline-block;
    width: 300px;
    height:50px;
}